
header{
    background-color: #000000;
}
header h1 a{
    color: #fff;
    text-decoration: none;
}

.logo{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}
.index-col{
    height: 80vh;
}


a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}